<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>351686989890-q6f2qllpja1640irtcncdn4dgi066pkp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.351686989890-q6f2qllpja1640irtcncdn4dgi066pkp</string>
	<key>API_KEY</key>
	<string>AIzaSyB_ykKa0XewqCj6Vgpw03fuZUN3oLEj8FQ</string>
	<key>GCM_SENDER_ID</key>
	<string>351686989890</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>andrewkang.ZoomerFit</string>
	<key>PROJECT_ID</key>
	<string>zoomerfit-bbea9</string>
	<key>STORAGE_BUCKET</key>
	<string>zoomerfit-bbea9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:351686989890:ios:110ffe01bf2f42d97d75db</string>
	<key>DATABASE_URL</key>
	<string>https://zoomerfit-bbea9.firebaseio.com</string>
</dict>
</plist>